@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    font-family: Montserrat;
    font-size: xx-large;
}

.main-box {
    width: 90%;
    margin-top:20px;
    margin-left:5%;
}

.l-box, .r-box {
    background: rgba(255,255,100,0.5);
    padding: 10px 10%;
    text-align: center;
}

input[type=submit] {
  width:100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=tel], input[type=date], input[type=time], input[type=number], select, textarea {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
    resize: vertical;
    width: 100%;
}

input[name=date] {
    width: 50%;
    margin-right: 15%;
}

input[name=time] {
    width: 30%;
}

input[name=phone] {
    width: 60%;
    margin-right: 5%;
}

select[name=partner]{
    width: 30%;
}

input[type=number] {
    width: 25%;
}

input[name=prepaid] {
    margin-left: 6%;
}