<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Экскурсии по крышам</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='roof.css') }}">
    <style>
       body {
        background-image: url({{ url_for('static', filename='background.png') }});
       }
    </style>
</head>
<body>
<div class="main-box">
    <div class="l-box">
        <form action="/" method="get" name="parser">
            <p><textarea name="text" placeholder="Текст заявки" rows="5" cols="30">{{ request_to_parse }}</textarea></p>
            <p><input type="submit" value="Распознать заявку" style="float: right;"></p>
        </form>
    </div>
    <p></p>
    <div class="r-box">
        <form action="/" method="post" name="request">
            <section>
                <div class="input-box-left" style="margin-right:20px;">
                    <label for="date">Дата</label>
                    <input type="date" name="date" id="date" value="{{ date }}" required>
                </div>
                <div class="input-box-left" style="margin-right:20px;">
                    <label for="time">Время</label>
                    <input type="time" id="time" name="time" value="{{ time }}" required>
                </div>
                <div class="input-box-right">
                    <label for="phone">Телефон</label>
                    <input type="tel" id="phone" name="phone" placeholder="+7 (xxx) xxx-xx-xx"
                           pattern="{re_phone}"
                           title="Российский номер телефона"
                           value="{{ phone }}"
                           required>
                </div>
            </section>

            <br style="clear: both">

            <section>
                <div class="input-box-left" style="margin-right:10px;">
                    <label for="amount">Кол-во</label>
                    <input type="number" id="amount" name="amount" style="margin-right: 10px" value="{{ amount }}" required>
                    <span style="font-size: x-large">×</span>
                </div>
                <div class="input-box-left">
                    <label for="price">Цена</label>
                    <input type="number" id="price" name="price" value="{{ price }}" required>
                    &#8381
                </div>
                <div class="input-box-right">
                    <label for="prepaid">Предоплата</label>
                    <input type="number" id="prepaid" name="prepaid"> &#8381
                </div>
            </section>

            <br style="clear: both">

            <section>
                <div class="input-box-left" style="margin-right:20px;">
                    <label for="partner">Партнёр</label>
                    <select name="partner" id="partner" required>
                        {{ partners_html }}
                    </select>
                </div>
                <div class="input-box-right">
                    <label for="submit">&nbsp</label>
                    <input type="submit" id="submit" value="Отправить">
                </div>
            </section>
        </form>
    </div>
</div>
</body>
</html>